body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
    min-width: 400px;
}
button {
    border: 1px solid #5f9341;
    padding: 10px 20px;
    background-color: #5f9341;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
#delete-btn {
    background-color: white;
    color: #5f9341;
}
ul {
    margin-top: 20px;
    list-style-type: none;
    padding-left: 0;
}
li {
    margin-top: 5px;
}
a {
    text-decoration: none;
    color: #5f9341;
}